.container {
width: 50%;
min-height: 40%;
border: 2.5px solid royalblue;
background-color: black;
color: white;
display: flex;
flex-direction: column;
text-align: center;
gap: 7.5px;
padding: 10px 7px;
justify-content: center;
align-items: center;
}
.Toptext {
font-size: 2em;
}
.InputFields {
background-color: transparent;
color: #fff;
width: 60%;
height: 5%;
border: 2px solid royalblue;
}
.btnLog {
  width: 50%;
  background-color: transparent;
  border: 2px solid royalblue;
  color: #fff;
}